<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <title>AlphabetUpdateServerHub</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
        
        label, input, textarea {
            margin: 10px 5px 5px;
        }
        
        .button-submit {
            width: 100px; 
            margin: 5px;
        }
    </style>
</head>
<body>

<h1>AlphabetUpdateHub</h1>
@RenderBody()

</body>
</html>